/***************/
/*MENU NAV*/
/***************/
nav{
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100px;
	background-color: transparent;
	padding: 0 20px;
	transition: .5s;
	z-index: 99999;
}
nav.white{
	background-color: #fff;
	height: 80px;
}
.logo{
	float: left;
	text-transform: uppercase;
	height: 90px;
	width: 90px;
	margin: 10px;
	background: url(../img/logo.png);
	background-size: cover;
	transition: .5s
}
nav.white .logo{
	height: 60px;
	width: 60px;
	background: url(../img/logomono.png);
	background-size: cover;
}
.menu{
	float: right;
	line-height: 100px;
}
nav.white .menu{
	line-height: 80px;
}
.menu a{
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0 10px;
	font-family: 'Squada One', cursive;
}
nav.white .menu a{
	color: #5ea9d8;
	transition: 0.4s;
}
/*BOTON HAMBURGER*/
.icon{
	display: none;
	position: absolute;
	top: 50%;
	right: 0px;
	transform: translate(-50%,-50%);
	width: 55px;
	height: 80px;
	cursor: pointer;
	z-index: 9999
}
.hamburger{
	width: 40px;
	height: 5px;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	transition: .5s;
}
.hamburger:before,
.hamburger:after{
	content: '';
	position: absolute;
	width: 40px;
	height: 5px;
	background: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	transition: .5s;
}
.hamburger:before{
	top: -14px;
}
.hamburger:after{
	top: 14px;
}
.icon.active .hamburger{
	background: rgba(0,0,0,0);
	box-shadow: 0 2px 5px rgba(0,0,0,.0);
}
.icon.active .hamburger:before{
	top: 0;
	transform: rotate(45deg);
}
.icon.active .hamburger:after{
	top: 0;
	transform: rotate(135deg);
}
/*FIN BOTON*/
nav.blue .icon .hamburger:after{
	background: #5ea9d8;
}
nav.blue .icon .hamburger:before{
	background: #5ea9d8;
}
nav.blue .icon .hamburger{
	background: #5ea9d8;
}
nav.blue.wht .icon .hamburger:after{
	background: #fff;
}
nav.blue.wht .icon .hamburger:before{
	background: #fff;
}
nav.blue.wht .icon .hamburger{
	background: rgba(0,0,0,0);
}
/*underline*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
nav .menu a .underline {
	text-decoration: none;
	position: relative;
}
nav .menu a .underline:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -3px;
	left: 0;
	background-color: #fff;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
	transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
}
nav .menu a .underline:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
nav.white .menu a .underline:before{
	background-color: #5ea9d8;
}